:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  background-color: var(--white);
  color: var(--slate);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid var(--cornflower);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: inline-block;
  padding: 24px 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}

.header-logo .logo-accent {
  color: var(--iris);
}

.nav {
  display: flex;
  gap: 76px;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: inline-block;
  padding: 24px 0px;
  font-weight: 500;
  color: var(--navy-blue);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  display: inline-block;
  padding: 24px 0px;
  color: var(--slate);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}

.hero {
  background-color: var(--navy-blue);
  padding: 188px 0;
}

.hero-inner {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  text-align: center;
  color: var(--white);
  max-width: 496px;
}

.hero-button {
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.section {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.team {
  background-color: var(--cloud);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  background-color: var(--white);
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

.team-img {
  width: 100%;
  aspect-ratio: 264 / 260;
  object-fit: cover;
}

.team-info {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--navy-blue);
}

.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
  overflow: hidden;
}

.portfolio-img {
  width: 100%;
  aspect-ratio: 360 / 300;
  object-fit: cover;
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-accent {
  color: var(--iris);
}

.footer-text {
  color: var(--cloud);
  max-width: 264px;
}
